main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 32px;
    flex:1;
    height: 100%;
    max-height: calc(100vh - 114px);
}

.calendar {
    /* background-color: rgb(135, 83, 45); */
    background: -webkit-linear-gradient(rgb(170, 111, 68), rgb(135, 83, 45));

    border:5px solid white;
    border-radius: 10px;
    width: 100%;
    min-height: 50px;
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 5px 5px 10px 0px #333;
    padding: 8px;
}
#prev-week,
#next-week {
    width: 20%;
    margin-left: 2px;
    /* background-color: #c07a3c; */
    background: #d18848;
    border: none;
    border-radius: 5px;
    padding: 5px;
    color: white;
    
    transition: background-color 0.3s ease; 
    display: flex;
    justify-content: center; align-items: center;
}
#prev-week p,
#next-week p {
    margin:0;
    overflow: hidden; 
    white-space: nowrap;
}

#prev-week:hover,
#next-week:hover {
    background-color: #e0915a; 

}

#prev-week:active,
#next-week:active {
    background-color: #a6632e; 

}
#next-week {
    margin-right: 2px;
}
.calendar h3 {
    margin: 0;
    color: white;
    text-shadow: 1px 1px 0px rgb(85, 50, 25);
}
.leaderboard-body {
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 16px;
}
.distance,
.longest {
    background: -webkit-linear-gradient(#ffdbc7, #ebb79b);
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    border: 6px solid white;
    border-radius: 16px;
    box-shadow: 5px 5px 10px 0px #333;
    min-width: 350px;
    height: 100%;
    overflow-y: auto;
    max-height: calc(100vh - 230px);
}
.distance h3,
.longest h3 {
    text-align: center;
    color:rgb(135, 83, 45);
    font-size: 32px;
    margin:0;
    padding-bottom: 12px;
}
.distance table,
.longest table {
    width:100%;
    background-color: white;
    border-collapse: collapse;
    border: 5px solid white;
    box-shadow: 3px 3px 5px 0px #616161;
}
.distance th,
.longest th {
    background-color: #c07a3c;
    border: 5px solid white;
    color: white;
    font-size: 24px;
    padding:0;
    text-align: center;  
}
.distance td,
.longest td {
    background-color: #ffdbc7;
    border: 5px solid white;
    font-weight: bold;
}
th, td {
    padding: 8px;
    text-align: center;   
}