/* Roboto Thin */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Thin.ttf');
    font-weight: 100;
    font-style: normal;
}

/* Roboto Thin Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
}

/* Roboto Extra-Light */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Light.ttf');
    font-weight: 200;
    font-style: normal;
}

/* Roboto Extra-Light Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-LightItalic.ttf');
    font-weight: 200;
    font-style: italic;
}

/* Roboto Light */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Light.ttf');
    font-weight: 300;
    font-style: normal;
}

/* Roboto Light Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
}

/* Roboto Regular */
@font-face {
    font-family: 'Roboto Regular';
    src: url('Roboto font/Roboto-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

/* Roboto Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Italic.ttf');
    font-weight: 400;
    font-style: italic;
}

/* Roboto Medium */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

/* Roboto Medium Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
}

/* Roboto Bold */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

/* Roboto Bold Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
}

/* Roboto Extra-Bold */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Black.ttf');
    font-weight: 800;
    font-style: normal;
}

/* Roboto Extra-Bold Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-BlackItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

/* Roboto Black */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

/* Roboto Black Italic */
@font-face {
    font-family: 'Roboto';
    src: url('Roboto font/Roboto-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
}
