#login-box {
    /* background-color: white; */
 
    padding: 32px;
    background: -webkit-linear-gradient(#c07a3c, #905826);

    display: flex;
    flex-direction: column;
    align-items: center;
    border: 6px solid white;
    border-radius: 25px;
    box-shadow: 5px 5px 10px 0px #333;
    width: 500px;


}
#login-box h1{
    font-weight: 600;
    font-size: 48px;
    text-align: center;
    color: white;
    margin: 0;
    text-shadow: 1px 1px 0px rgb(135, 83, 45);
    /* #ffdbc7 */
}
#login-box form {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-between;
}
.username-box {
    width: auto;
    height: 60px;
    margin-bottom: 32px;
}
.password-box {
    width: auto;
    height: 60px;
    margin-bottom: 48px;
}
.username-box input{
    width: 100%;
    height: 100%;
    background: #ffdbc7;
    border-radius: 16px;
    border: 5px solid white;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 10px 0px #333;
    color:rgb(135, 83, 45);
}
.password-box input{
    width: 100%;
    height: 100%;
    background: #ffdbc7;
    border-radius: 16px;
    border: 5px solid white;
    text-align: center;
    font-size: 20px;
    box-shadow: 2px 2px 10px 0px #333;
    color:rgb(135, 83, 45);
}
.password-box input::placeholder,
.username-box input::placeholder {
    color:rgb(135, 83, 45);
}
#login-register {
    display: flex;
    justify-content: stretch;
}


#login-box .remember-forget {
    width: 80%;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    margin: 0;
    color:white;
}
#login-box .remember-forget input {
    margin:0;
    margin-right: 8px;
    align-self: flex-end;
}
#login-box .sign-up {
    display: flex;
    justify-content: space-between;
    color: white;
}

#login-box .button-wrapper {
    display: flex;
}
#login-box button{
    border-radius: 16px;
    border: 5px solid white;
    box-shadow: 2px 2px 10px 0px #333;

    width: 100%;
    height: 60px;
    background:rgb(135, 83, 45);
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin:16px;

}
#register {
    background: #c07a3c !important;
}
#login-box button:hover {
    background: white !important;;
    color: black;
    text-shadow: 1px 1px 0px rgb(135, 83, 45);

    transform: scale(1.05);
}

#login-box button:active {
    transform: scale(0.95);
}

#username-error,
#password-error {
    color: rgb(217, 54, 54);
    font-size: 16px;
    font-weight: bold;
    text-shadow: 
    -1px -1px 3px rgba(255, 255, 255, 0.8),  
     1px -1px 3px rgba(255, 255, 255, 0.8),  
    -1px 1px 3px rgba(255, 255, 255, 0.8),  
     1px 1px 3px rgba(255, 255, 255, 0.8); 
}

.invalid-feedback {
    text-align: center;
}