
.main-wrapper {
    display: flex;
    flex-direction: column;
}

#tagline {
    font-size: 32px;
    font-style: italic;
    background-color: white;
    padding: 8px;
    width: 75%;
}

#quote {
    display: flex; 
    flex-direction: column;
    align-self: center;
    align-items: center;
}
#quote-text, #quote-author {
    font-size: 32px;
    font-style: italic;
    background-color: white;
    padding: 8px;
    width: 75%;
    text-align: center;

}
#quote-author {
    font-weight: bold;
}
#picture {
    overflow: auto;
}
#picture img {
    width: fit-content;;
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto;
    border: 5px solid white;
    border: 5px solid white;
}