body {
    display: flex;
    flex-direction: column;
}
.main-wrapper {
    display: flex;
    flex-direction: column;
}
main {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 114px);
    gap: 16px;
}

#quote {
    font-size: 24px;
    font-style: italic;
    background-color: white;
    padding: 8px;
}
#picture {
    overflow: auto;
}
#picture img {
    width: fit-content;;
    max-width: 100%; /* Set the maximum width to 100% of its container */
    height: auto;
    border: 5px solid white;
    border: 5px solid white;
}